In [1]:
# Importing all necessary modules
import pandas as pd
import numpy as np

In [2]:
# Read in the csv files as pandas dataframe
df=pd.read_csv('london_merged.csv')

In [3]:
# Display the data
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,1/4/2015 0:00,182,3.0,2.0,93.0,6.0,3,0,1,3
1,1/4/2015 1:00,138,3.0,2.5,93.0,5.0,1,0,1,3
2,1/4/2015 2:00,134,2.5,2.5,96.5,0.0,1,0,1,3
3,1/4/2015 3:00,72,2.0,2.0,100.0,0.0,1,0,1,3
4,1/4/2015 4:00,47,2.0,0.0,93.0,6.5,1,0,1,3

In [4]:
# explore the data
df.info() # or we can use df.dtypes for data type exploration

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  int64
 7   is_holiday    17414 non-null  int64
 8   is_weekend    17414 non-null  int64
 9   season        17414 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.3+ MB

In [5]:
df.shape
# total number of rows 17414 and 10 columns

(17414, 10)

In [6]:
# count the unique values in the weather_code column
df.weather_code.value_counts()

1     6150
2     4034
3     3551
7     2141
4     1464
26      60
10      14
Name: weather_code, dtype: int64

In [7]:
# count the unique values in the season column
df.season.value_counts()

0    4394
1    4387
3    4330
2    4303
Name: season, dtype: int64

In [8]:
# Specifying the column names that I want to see/use

new_cols_dict = {
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percentage',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holidy':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# Renaming the columns to the specified columns names
df.rename(new_cols_dict, axis=1, inplace = True)

In [9]:
# Calculating the humidity values to percentage(i.e. a value between 0 and 1)
df.humidity_percentage = df.humidity_percentage/100

In [10]:
# Creating a season dictionary so that we can map the integer 0-1 t the actual written values
season_dict = {
    '0':'spring',
    '1':'summer',
    '2':'autumn',
    '3':'winter'
}

# Creating a weather dictionary so that we can map the integer to the actual written values
weather_dict = {
    '1':'Clear',
    '2':'Scattered clouds',
    '3':'Broken clouds',
    '4':'Cloudy',
    '7':'Rain',
    '10':'Rain with thunderstorm',
    '26':'Snowfall'
}

# Changing the season column data type to string
df.season=df.season.astype('str')
# Mapping the values 0-3 to the actual written sesasons
df.season=df.season.map(season_dict)

# Changing the weather column data type to string
df.weather=df.weather.astype('str')
# Mapping the values to the actual written weather
df.weather=df.weather.map(weather_dict)

In [11]:
# Checking the dataframe to see if the mapping have worked
df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percentage,wind_speed_kph,weather,is_holiday,is_weekend,season
0,1/4/2015 0:00,182,3.0,2.0,0.930,6.0,Broken clouds,0,1,winter
1,1/4/2015 1:00,138,3.0,2.5,0.930,5.0,Clear,0,1,winter
2,1/4/2015 2:00,134,2.5,2.5,0.965,0.0,Clear,0,1,winter
3,1/4/2015 3:00,72,2.0,2.0,1.000,0.0,Clear,0,1,winter
4,1/4/2015 4:00,47,2.0,0.0,0.930,6.5,Clear,0,1,winter

In [12]:
# Writing the final dataframe to an excel file that we willl use in my Tableau visualization. The file will be the 'london_bikes_final.xlsx'
df.to_excel('london_bikes_final.xlsx', sheet_name='Data')